<ion-view name="home-app" view-title="Explorer App">

  <ion-nav-bar class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>

      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
  <ion-content>
  	<div class="row responsive-sm">
  		<div class="col text-center">
  			<h2>Welcome to</h2>		
  		</div>
  	</div>
  	<div class="row responsive-sm">
  		<div class="col text-center">
  			<img src="img/exploreapp-logo.png" alt="exploreapp-logo">		
  		</div>
  	</div>
  	<div class="row responsive-sm">
  		<div class="col col-50 col-offset-25 text-center">
  			<p>
  				Customized travel guide that help 
  				you experience and discover unique places 
  				based on your preferences. 
  			</p>	
  		</div>
  	</div>
    <!-- logIn section -->

  	<!-- <div class="row responsive-sm">
      <form ng-submit="doLogin()">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="loginData.username">
          </label>
          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="loginData.password">
          </label>
          <label class="item">
            <button class="button button-block button-positive" type="submit">Log in</button>
          </label>
        </div>
      </form>
  	</div> -->
    <div class="col col-50 col-offset-25 text-center">
      <a class="button button-dark login-button icon icon-right " href="#/app/login">Log in</a>
    </div>
    <div class="col col-50 col-offset-25 text-center">
      <a class="button button-clear button-dark icon icon-right " href="#/app/register">Register</a>
    </div>

  	
    
  </ion-content>
</ion-view>

