<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Login</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeLogin()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form name="myForm" novalidate="" ng-submit="doLogin()">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Username</span>
          <input type="email" name="username" ng-model="username" ng-minlengt="5" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" name="password" ng-model="password" ng-minlengt="6" required>
        </label>
        <label class="item">
          <button class="button button-block button-positive" ng-disabled="myForm.$invalid" ng-click="submit(username)" type="submit">Log in</button>
        </label>
      </div>
      <div class="padding">
          <p ng-show="myForm.username.$error.required ">* Username is required</p>
          <p ng-show="myForm.username.$invalid && !myForm.username.$pristine ">* Username must be a valid email</p>
          <p ng-show="myForm.username.$error.minlength">* Username must be min length of 5 characters</p>

          <p ng-show="myForm.password.$error.required ">* Password is required</p>
          <p ng-show="myForm.password.$invalid && !myForm.username.$pristine ">* Password must be a valid email</p>
          <p ng-show="myForm.password.$error.minlength">* Password must be min length of 5 characters</p>

      </div>
    </form>
  </ion-content>
</ion-modal-view>
