<ion-view view-title="Search">
	<ion-content>
		<div id="map"></div>
		<div class="item item-divider">

			<a href="" ng-click="sortField = 'rating' ;  reverse = !reverse "  >
				<button class="button button-outline button-dark button-filters">
				  Rating
				</button>
			</a>
			<a href="" ng-click="sortField = 'name' ;  reverse = !reverse "  >
				<button class="button button-outline button-dark button-filters">
				  Name
				</button>
			</a>
			
		</div>
		
		<ion-item class="list card listItem" ng-repeat="place in places | orderBy:sortField:reverse"
			>
			<div class="list " >
			    <a class="item item-thumbnail-left myListObject"  href="#/app/search/{{place.place_id}}">
			      <img ng-src="{{place.photos[0].getUrl({'maxWidth': 175, 'maxHeight': 175})}}" alt="">
			      <h2>{{place.name}}</h2>
			      <p>Rating: {{place.rating}}</p>
			    </a>
			    
			</div>
			<button ng-click="removeObject(place)" class="btn removeButton">
			    <span class="glyphicon glyphicon-remove"></span>
			</button>
		</ion-item>
	</ion-content>
</ion-view>


