/* Empty. Add your own CSS if you like */
#map {
	height: 300px;
}
.marker {

}
.marker h4 {
	font-size: 12px;
	margin: 0px;
	padding: 0px;
}
.marker img {
	margin-top: 0;
	max-height: 80px;
	max-width: : 250px
}
.marker p {
	font-size: 10px;
}
.marker p {
	margin-top: 0;
	margin-bottom: 5px;
	line-height: 10px;
}
.bar-header {
	
}
.myMenu,  
.myMenu:hover {
	color: #5d5d5d;
	text-decoration: none;
}
.myMenu img {
	float: left;
	z-index: 999;
}
.removeButton {
	position: absolute;
	top:0px;
	right: 0px;
	z-index: 999;
}
.listItem {
	position: relative;
}
.button-filters {
	line-height: 5px;
	margin-right: 5px;
	padding: 5px;
	height: 25px;
	min-width: 20px;
	min-height: 20px;
}

.wrapping-list .item-content, .wrapping-list .item {
    overflow: initial;
    white-space: initial;
}
.description_details {
	margin:0;
	margin-top: -20px;
	padding: 0;
}
.description_details h2,h3,p {
	padding: 0 5px; 
}
.description_details h2 {
	color: #000;
	font-size: 24px;
	background: 
}
.description_details img {
	width: 100%;
}
.description_details p {
	
	
	position: relative;
	
}
.adress_p {
	margin: 10px 0;
}
